@model IEnumerable<TenantSystem.Models.TenantBill>

@{
    ViewBag.Title = "Approve Bills";
}

<br />
<div class="container">
<h2>Please Approve Bills</h2>

@using(@Html.BeginForm()){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
foreach (var item in Model) {
    @Html.Partial("_TenantBillTemplate", item)    
}

<br />
<input type="submit" value="Approve" />

}
</div>

