@model IEnumerable<TenantSystem.Models.Tenant>

@{
    ViewBag.Title = "Tenant Details";
}

<div class="container-fluid">
    <div class="page-header">
        <h3>Tenant Details</h3>
    </div>
    <p>
        @Html.ActionLink("Add New", "AddTenant")
    </p>

    @foreach (var item in Model)
    {
        @Html.Partial("_TenantDetailsTemplate", item)
    }

</div>
