@model IEnumerable<TenantSystem.Models.TenantBill>

@{
    ViewBag.Title = "Approve Bills";
}

<br />
<h2>Please Approve Bills</h2><br /><br />

@using(@Html.BeginForm()){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
foreach (var item in Model) {
    @Html.Partial("_TenantBillTemplate", item)    
}

<input type="submit" value="Approve" />

}


