@{
    ViewBag.Title = "ViewPayments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>Show Payments</h3>
</div>

<div id="loading">
    <img src="~/Content/images/loading.gif" /><br>
    Loading..
</div>

<div class="container-fluid">
    @*<div class="display-generated-bill">
        Select Month   :
        <input type="month" id="txtMonth" required />
    </div>*@
    <div class="display-generated-bill">
        Select Tenant   :    @Html.DropDownList("TenantId", (IEnumerable<SelectListItem>)ViewBag.Tenant, "Select")
    </div>

    <div id="ContainerTenantPayment"></div>

    <script id="TemplateTenantPayment" type="text/x-handlebars-template">
        <div>
            <h1>{{tenantName}}</h1>
            <table class="tenant-history-template table-bordered table-striped1">
                <tr>
                    <th>
                        Date Of Payment
                    </th>
                    <th>
                        Amount Paid
                    </th>
                    <th>
                        Comments
                    </th>
                    <th>
                        Payment Type
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        
                    </th>
                </tr>
                {{#each payments}}
                <tr class="border-tr1">
                    <td>
                        {{formatdate DateOfPayment}}
                    </td>
                    <td>
                        {{Amount}}
                    </td>
                    <td>
                        {{Comments}}
                    </td>
                    <td>
                        {{PaymentType}}
                    </td>
                    <td>
                        <a href="/Tenant/EditPayment?Id={{Id}}&tenantId={{TenantId}}">Edit</a>
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
                {{/each}}
            </table>

        </div>
    </script>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/moment")

    <script type="text/javascript">
        $(function () {

            Handlebars.registerHelper("formatdate", function (pDate) {
                var date = new Date(parseInt(pDate.substr(6)));
                var minDate = new Date("Jan 01 1900");
                if (date > minDate) {
                    return moment(date).format("DD-MMMM-YYYY");
                }
                else {
                    return "";
                }
            });
            
            $("#TenantId").change(function () {
                fnGetBillDetails();
            });

            //$("#txtMonth").change(function () {
            //    fnGetBillDetails();
            //});

            function fnSuccess(data) {
                console.log("success");
                var template = $("#TemplateTenantPayment").html();
                //compile the template
                var rendered = Handlebars.compile(template);
                //rendered result
                var result = rendered(data);
                $("#ContainerTenantPayment").html(result);
            }

            function fnGetBillDetails() {
                try {
                    //var selectedDateValue = $("#txtMonth").val();
                    //var selectedDate = $("#txtMonth").val().split("-");
                    var selectedtenantId = $("#TenantId").val();
                    //var todayDate = new Date();
                    //var fullYear = todayDate.getFullYear();

                    if (selectedtenantId === "") {
                        $("#ContainerTenantPayment").html("<p>No Record Found</p>");
                        return;
                    }

                    var optionGetTenantPayments = {
                        url: "GetTenantPayments",
                        datatype: "json",
                        data: { tenantId: selectedtenantId },
                        type: "GET",
                        success: fnSuccess,
                        error: function (xhr, event) {
                            console.log("error");
                        }
                    };
                    
                    $.ajax(optionGetTenantPayments);
                    

                }
                catch (err) {
                    alert(err);
                }
            }

            $(document).ajaxStart(function () {
                $("#loading").css("display", "block");
            });
            $(document).ajaxComplete(function () {
                $("#loading").css("display", "none");
            });

        });
    </script>
}