@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Tenant Page</h2>

<ul>
    <li>@Html.ActionLink("Tenant", "Index", "Tenant")</li>
    <li>@Html.ActionLink("Add Building", "AddBuilding")</li>
    <li>@Html.ActionLink("Add Electric Meter", "AddMeter")</li>
</ul>

